
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Glassy Login Form A Responsive Widget Template :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Glassy Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Meta tag Keywords -->
    <!-- css files -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- //css files -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700" rel="stylesheet">
    <!-- //web-fonts -->
</head>
<body>
    <!--header-->
    <div class="header-w3l">
        <h1>Đăng nhập</h1>
    </div>
    <!--//header-->
    <!--main-->
    <div class="main-w3layouts-agileinfo">
        <!--form-stars-here-->
        <div class="wthree-form">
            <h2>Đăng nhập tài khoản</h2>
            <form action="@Url.Action("Login")" method="post">
                <div class="form-sub-w3">
                    <input type="text" name="Username" placeholder="Username " required="" />
                </div>
                @if (Convert.ToBoolean(Session["user-not-found"]) == true)
                {
                    <p style="color:red">User mail not found</p>
                }
                <div class="form-sub-w3">
                    <input type="password" name="Password" placeholder="Password" required="" />
                </div>
                @if (Convert.ToBoolean(Session["password-incorrect"]) == true)
                {
                    <p style="color:red">Incorrect password</p>
                }
                <label class="anim">
                    <input type="checkbox" class="checkbox">
                    <span>Nhớ tài khoản</span>
                    <a href="#">Quên mật khẩu?</a>
                </label>
                <div class="clear"></div>
                <div class="submit-agileits">
                    <input type="submit" value="Đăng nhập">
                </div>
            </form>

        </div>
        <!--//form-ends-here-->

    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>&copy; 2017 Glassy Login Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
    <!--//footer-->
</body>
</html>